In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.ensemble import BaggingClassifier
from sklearn.preprocessing import LabelBinarizer
from sklearn.preprocessing import OneHotEncoder

In [2]:
airlines = pd.read_csv('airline_satisfaction.csv').dropna()
airlines.head()

,id,Gender,Customer,Age,TravelType,Class,Distance,InflightWifi,ConvenientTime,OnlineBooking,...,InflightEntertainment,OnboardService,LegRoom,Baggage,CheckinService,InflightService,Cleanliness,DepartureDelay,ArrivalDelay,Satisfaction
0,70172,Male,Loyal,13,Personal,Eco Plus,460,3,4,3,...,5,4,3,4,4,5,5,25,18.0,Unsatisfied
1,5047,Male,Disloyal,25,Business,Business,235,3,2,3,...,1,1,5,3,1,4,1,1,6.0,Unsatisfied
2,110028,Female,Loyal,26,Business,Business,1142,2,2,2,...,5,4,3,4,4,4,5,0,0.0,Satisfied
3,24026,Female,Loyal,25,Business,Business,562,2,5,5,...,2,2,5,3,1,4,2,11,9.0,Unsatisfied
4,119299,Male,Loyal,61,Business,Business,214,3,3,3,...,3,3,4,4,3,3,3,0,0.0,Satisfied

In [3]:
labelBinary = LabelBinarizer()

# Gender == 1 if Male
airlines['Gender'] = labelBinary.fit_transform(airlines['Gender'])

# Customer == 1 if Loyal
airlines['Customer'] = labelBinary.fit_transform(airlines['Customer'])

# TravelType == 1 if Personal
airlines['TravelType'] = labelBinary.fit_transform(airlines['TravelType'])

# Class == 1 if Business
airlines['Class'] = labelBinary.fit_transform(airlines['Class'])

In [4]:
airlines.head()

,id,Gender,Customer,Age,TravelType,Class,Distance,InflightWifi,ConvenientTime,OnlineBooking,...,InflightEntertainment,OnboardService,LegRoom,Baggage,CheckinService,InflightService,Cleanliness,DepartureDelay,ArrivalDelay,Satisfaction
0,70172,1,1,13,1,0,460,3,4,3,...,5,4,3,4,4,5,5,25,18.0,Unsatisfied
1,5047,1,0,25,0,1,235,3,2,3,...,1,1,5,3,1,4,1,1,6.0,Unsatisfied
2,110028,0,1,26,0,1,1142,2,2,2,...,5,4,3,4,4,4,5,0,0.0,Satisfied
3,24026,0,1,25,0,1,562,2,5,5,...,2,2,5,3,1,4,2,11,9.0,Unsatisfied
4,119299,1,1,61,0,1,214,3,3,3,...,3,3,4,4,3,3,3,0,0.0,Satisfied

In [5]:
# Select input and output features
X = airlines.drop(columns=['id', 'Satisfaction'])
y = airlines[['Satisfaction']]

In [6]:
# Initialize and fit bagging classifier with decision tree base model
baggingModel = BaggingClassifier()
baggingModel.fit(X, np.ravel(y))

BaggingClassifier()

In [7]:
# Calculate prediction accuracy
baggingModel.score(X, y)

0.9979535494333649